<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Spoiled Watermellons</title>
</head>
<body>
    {{#if user}}
    {{!-- content for logged in user which would end up being the homepage.handlebars --}}
      <main>
        {{{body}}}
      </main>
    {{else}}
      {{!-- Content for non-logged-in users (e.g., login screen) --}}
      <main>
        {{{logIn}}}
      </main>
    {{/if}}

</body>
</html>
