<section class="genreContainer">
    <h1>Horror Movies</h1>
    <div class="innerGenreContainer">
        {{!-- the api will have to go into this div and simultaneously render the genres with scroll feature --}}
        <img src="" alt="">
        <h2>Movie Name: ranking: review:</h2>
    </div>
</section>
<script src="/public/js/g"></script>
