{{!-- will add styling for arrow keys but how to make the arrow keys to have functionality for the carousel --}}
<section>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    {{!-- the movie name will be replaced by whatever movie is use --}}
    <h2>Movie Name</h2>
    {{!-- this will be the movie image will have to figure out how to apply it using the api were using --}}
    <div>movie poster image</div>

</section>
<a href="/leave-review">Leave a Review!</a>


{{!-- https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_carousel_icon&stacked=h
this page has an example of the carousel, for whoever ends up working on it to set it up. --}}
