<div class="container-fluid mt-4" style="display:flex; flex-wrap:wrap">
  {{#each movies as |movie|}}
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{movie.poster_image}}" class="img-fluid rounded-start" alt="movie-poster" width="1793" height="2686">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">Average Rating: {{movie.avgRating}}/5</p>
          <p class="card-text"><small class="text-body-secondary">Last reviewed 3 mins ago</small></p>
          <a href="/movies/{{movie.id}}">Leave a Review!</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
