{{#if logged_in}}

{{else}}
<div><button><a href="/login">Login</a></button></div>
<div><button><a href="/signup">Sign Up</a></button></div>
{{/if}}

<section class="container">
    <h3>{{title}}</h3>

  <img src={{poster_image}}>
</section>

<div>
    <h3>Leave a New Review</h3>
</div>
<div class="newReviewContainer">
    <form class="new-review-form">
        <div>
            <label for="title">Review Title</label>
            <input class="form-input" type="text" id="review-title" name="title" />
        </div>
        <div class="form-group">
            <label for="content">Review</label>
            <textarea class="form-input" id="review-description" name="content"></textarea>
        </div>
        <div class="review">
                <select id="review-rating" name="rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <button id="newReviewBtn" type="submit">Create</button>
        </div>
    </form>
</div>


<script src="/js/leaveReview.js"></script>