<div class="container-fluid mt-4">
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <h5 class="card-header text-center">Sign Up</h5>
    <div class="card-body">
      <form class="signup-form">
        <div class="mb-3">
          <label for="name-signup" class="form-label">Username</label>
          <input type="text" class="form-control" id="name-signup">
        </div>
        <div class="mb-3">
          <label for="password-signup" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-signup">
        </div>
        <p>Already registered? <a href="/login">Login</a></p>
        <button type="submit" class="signupBtn btn btn-light">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<script src="./js/signup.js"></script>
